services:
  postgres:
    image: postgres:16
    container_name: cinema-db
    environment:
      POSTGRES_DB: cinema_paradiso
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: CHANGE_ME
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

